@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype'), url('../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf')
    format('truetype'), url('../assets/fonts/static/PlusJakartaSans-Medium.ttf')
    format('truetype');
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    min-height: 70vh;
    font-size: 16px;
    justify-content: center;
    background-color: hsl(210, 60%, 98%);
    color:  hsl(219, 12%, 42%);
    font-family: 'PlusJakartaSans',sans-serif;
    margin: 0px 300px;
}
header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    min-height: 8vh;
    align-items: center;

}

header h1{
    font-size: 28px;
    color: hsl(224, 21%, 14%);
}
.unreader{
    font-size: 21px;
    float: none;
    border: none; 
    background-color:  hsl(219, 85%, 26%);
    color:  hsl(211, 68%, 94%);
    padding: 0px 10px;
    border-radius: 10px;
    margin-left: 3px;

}
.marked{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    border: none;
    font-size: 16px;
    background-color: hsl(210, 60%, 98%);
    color:  hsl(219, 12%, 42%);
}
main{
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}
.message{
    position: relative;
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 30px;
    background-color: hsl(211, 68%, 94%);
    border-radius: 4px;
    padding: 0px 5px;
    align-items: center;

}
.username{
    font-weight: bolder;
    color: hsl(224, 21%, 14%)
}
.message img{
    height: 70px;
}

.message-content{
    color:  hsl(219, 12%, 42%);
}
.message-content a{
    text-decoration: none;
    color: hsl(219, 85%, 26%);
    font-weight: bold;
}
.texted{
    background-color: hsl(210, 60%, 98%);
}
.texted p{
    padding: 0px 0px 0px 100px;
    width: 80%;
    float: right;
}
.readed-message{
    position: relative;
    display: flex;
    gap: 20px;
    background-color:hsl(210, 60%, 98%);
    align-items: center;
}
.readed-message img{
    height: 70px;
}
.chass{
position: absolute;
right: 0;
top: 0;
}
.dot {
    height: 10px;
    width:10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }
@media (max-width:620px) {
    body{
    margin: 0px 50px;
    }
    header h1{
        font-size: 24px;
    }
    header h1 span{
        font-size: 16px;
    }
    body{
        font-size: 14px;
        margin: 0px;
    }
    .message{
        gap: 2px;
    }
    .message img{
        height: 50px;
    }
    .content{
        display: grid;
        grid-template-columns:  auto;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .texted p{
        width:auto;
    }
}
.marked:hover{
    color:  hsl(219, 85%, 26%);
}
.username:hover{
    color:  hsl(219, 85%, 26%);
}
.texted p:hover{
    background-color: hsl(211, 68%, 94%);   
}
